/* Reset and base styles */

@import url("https://fonts.googleapis.com/css?family=KoHo:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
select,
input,
button {
  font-family: "KoHo", sans-serif;
}
